@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Contraseña actualizada";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Su contraseña ha sido actualizada. <a href="/Administracion/">Haga click aqui para volver al incio</a>.
    </p>
</div>