<div class="table-responsive text-center">
    <table class="table table-striped mx-auto">
        <thead>
            <tr>
                <th>Seguridad</th>
                <th>Administracion</th>
                <th>Consultas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="mb-2">
                        <a href="/Identity/Account/Register" class="btn btn-primary">Crear usuario</a>
                    </div>
                    <div class="mb-2">
                        <a href="/Administracion/Usuario" class="btn btn-primary">Ver usuarios</a>
                    </div>
                    <div>
                        <a href="/Identity/Account/ChangePassword" class="btn btn-primary">Cambiar contraseña</a>
                    </div>
                </td>
                <td>
                    <div class="mb-2">
                        <a href="/Administracion/Tipoprecio" class="btn btn-primary">Tipos de precios</a>
                    </div>
                    <div class="mb-2">
                        <a href="/Administracion/TipoTarjeta" class="btn btn-primary">Tarjetas de crédito o débito</a>
                    </div>
                    <div class="mb-2">
                        <a href="/Administracion/ProcesadorPago" class="btn btn-primary">Procesador de pago</a>
                    </div>
                    <div class="mb-2">
                        <a href="/Administracion/Cupon" class="btn btn-primary">Tiquetes de descuento</a>
                    </div>
                    <div class="mb-2">
                        <a href="/Administracion/Lineacomida" class="btn btn-primary">Líneas de comidas</a>
                    </div>
                    <div>
                        <a href="/Administracion/Producto" class="btn btn-primary">Productos</a>
                    </div>
                </td>
                <td>
                    <div class="mb-2">
                        <a href="/Consultas/PedidoConsulta" class="btn btn-primary">Pedidos</a>
                    </div>
                    <div class="mb-2">
                        <a href="/Consultas/ProductoConsulta" class="btn btn-primary">Productos</a>
                    </div>
                    <div class="mb-2">
                        <a href="/Consultas/BitacoraConsulta" class="btn btn-primary">Bitácora</a>
                    </div>
                    <div>
                        <a href="/Consultas/ErrorConsulta" class="btn btn-primary">Errores</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
