@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    La contraseña se ha reseteado exitosamente. Ingresa <a asp-page="./Login">aqui</a> para iniciar sección.
</p>
