@model EFood.Modelos.LineaComida

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Linea de Comida";
}

<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if(Model.Id !=0)
        {
            // Actualizar titulo
            titulo = "Actualizar Linea de Comida";
            <input type="hidden" asp-for="Id" id="id" />
        }
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>
        @if (Model.Id != 0)
        {
            //Mostrar id al actualizar
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Código de la linea de comida</label>
                    <input type="text" class="form-control" value="@Model.Id" readonly />
                </div>
            </div>
        }

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre de la linea de comida" id="nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        
        <br />
        <div>
            @if(Model.Id !=0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" />
            }
        </div>

    </div>


</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
   
    <script>

        document.getElementById("nombre").addEventListener('change', function () {
            validarCodigo();
        });

        function validarCodigo()
        {
            var url = '@Url.Content("~/")' + "Administracion/LineaComida/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if(value) {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Nombre ya Existe", "error");
                        nombre.value="";
                    }
                });
            })

        }
    </script>

}