@model EFood.Modelos.ViewModels.ProcesadorTarjetaVM
@using EFood.Utilidades

@{
    ViewData["Title"] = "Tarjetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Tarjetas asociadas a @Model.ProcesadorPago.Nombre</h2>
    </div>
    <div class="col-lg-6">
        <a asp-action="Upsert" asp-route-id="@Model.ProcesadorPago.Id" class="btn btn-outline-primary"> <i class="bi bi-plus-square-fill"></i> Agregar Nueva Tarjeta </a>
    </div>
</div>

<br />

<div class="p-4 border rounded bg-light">
    @if (Model.ProcesadorTarjeta.Count > 0)
    {
        <table class="table table-responsive table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>Tipo de tarjeta</th>
                    <th></th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var tarjeta in Model.ProcesadorTarjeta)
                {
                    <tr id="tarjeta_@tarjeta.Id">
                        <td>@tarjeta.TipoTarjeta.Nombre</td>
                        <td></td>
                        <td>
                            <!-- Botón Eliminar -->
                            <button class="btn btn-danger text-white bi bi-trash3-fill" onclick="eliminarTarjeta(@tarjeta.Id,@Model.ProcesadorPago.Id)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay tarjetas asociadas a este procesador de pago.</p>
    }
    <a href="/Administracion/ProcesadorPago/Index" class="btn btn-success"> <i class="bi bi-arrow-return-left"></i> Regresar </a>

</div>

<script>

    function eliminarTarjeta(tarjetaId, procesadorpagoId) {

        var url = '/Administracion/ProcesadorTarjeta/EliminarTarjeta/' + tarjetaId;

        swal({
            title: "Esta seguro de Eliminar la Tarjeta?",
            text: "Este registro no se podra recuperar",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((borrar) => {
            if (borrar) {
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function () {

                        window.location.href = "/Administracion/ProcesadorTarjeta/AdministrarTarjetas/" + procesadorpagoId;

                    }
                });
            }
        });
    }
</script>
